nav{
    line-height: 2.5;
    background-color: black;
    opacity: 0.7;
    ul{
        list-style-type: none;
        text-align: center;
        li{
            display: inline-block;
        }
    }
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Cinzel Decorative', cursive;
    transition: background-color 1s;
    &:hover{
        background-color: #b14c17;
        border-radius: 25%;
        padding: 2px;
    }
}