*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imagenes/interior.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

nav{
    line-height: 2.5;
    background-color: black;
    opacity: 0.7;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Cinzel Decorative', cursive;
    transition: background-color 1s;
}

nav ul li{
    display: inline-block;
}

nav ul li a:hover{
    background-color: #b14c17;
    border-radius: 25%;
    padding: 2px;
}

footer{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    width: 100vw;
    line-height: 2.2;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 15px;
}

footer img{
    height: 2rem;
    width: 2.1rem;
}

.top{
    width: 100vw;
    height: 45vh;
    text-align: center;
    padding-top: 4%;
}

.bottom{
    width: 100vw;
    height: 45vh;
    text-align: center;
    padding-top: 6%;
}

h1{
    font-family: 'Allura', cursive;
    font-size: 5.1rem;
    color: #ad8943;
    text-shadow: 2px 2px 2px white;
    padding-left: 5px;
    padding-right: 5px;
}

h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    color: #8b6f37;
    text-shadow: 4px 1px 0px rgb(26, 26, 26);
    padding-left: 5px;
    padding-right: 5px;
}

.reserva{
    background-color: #c9ac74;
    border-radius: 4px;
    padding: 8px;
    text-decoration: none;
    font-family: 'Cinzel Decorative', cursive;
    color: white;
}

.place-contenedor{
    text-align: center;
}

.place-contenedor p{
    font-family: 'Cinzel Decorative', cursive;
    background-color: #ad8943;
    font-weight: 800;
    margin-top: 1rem;
}

.place{
    width: 27rem;
    height: 21rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
    border: 2px double gray;
    opacity: 0.8;
}

.place:hover{
    border: 2px solid white;
    opacity: 1;
    transform: scale(1.1,1.1);
}

#reserva{
    text-align: center;
}

fieldset{
    background-color: black;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

form{
    margin-left: 25vw;
    margin-right: 25vw;
    height: 110px;
    width: 50vw;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    align-items: center;
}

.header-contacto{
    height: 10vh;
}

.main-contacto{
    height: 85vh;
}

.footer-contacto{
    height: 5vh;
    display: flex;
}

footer div{
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
}

@media screen and (max-width: 576px){
    .place{
        width: 260px;
        margin-right: 25px;
    }
    form{
        margin-left: 7vw;
    }
    footer img{
        height: 25px;
        width: 25px;
    }
}